.table-container {
    margin: 4rem auto 1rem;
    /* padding: 1rem; */
    max-width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.table-container .title {
    font-size: 1.5em;
    font-weight: bold;
    align-self: flex-start;
}

#home-screen .table-container {
    display: flex;
    flex-direction: column;
}

#home-screen .table-container input {
    box-sizing: border-box;
}

#home-screen .table-container table {
    margin: 0;
}

#home-screen .charts-group {
    width: 100%;
    display: flex;
    flex-direction: row;
}
