.table-container {
    margin: 4rem auto 1rem;
    padding: 1rem;
    max-width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#patients-screen .table-container {
    display: flex;
    flex-direction: column;
}

#patients-screen .table-container table {
    margin: 0;
}
