.addMedicineForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addMedicineForm .input-group {
    margin-bottom: 1vh;
    width: 50vw;
}

.addMedicineForm .input-group select {
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
}

.addMedicineForm .input-group input {
    box-sizing: border-box;
    width: 100%;
}

.addMedicineForm .button-group {
    display: flex;
    align-items: center;
    margin-top: 2.5vh;
}

.addMedicineForm .button-group button:first-child {
    margin-left: 0;
}